
@{
    Layout = "~/Views/Shared/LayoutParentLogin.cshtml";
    var productCategoryList = ViewBag.productCategoryList;
    var count = 0;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Danh Mục Sản Phẩm</title>
</head>
<body>
    <h1 style="text-align:center">Danh Mục Sản Phẩm</h1>
    <p>
        <a href="/admin/quan-ly-product-category/them-moi/">Thêm mới</a>
    </p>
    <table class="table table-bordered" style="text-align:center">
        <tr>
            <th style="text-align:center">
                #
            </th>
            <th style="text-align:center"> Tên danh mục</th>

            <th style="text-align:center">
                Tuỳ chọn
            </th>
        </tr>

        @foreach (var pc in productCategoryList)
        {
            count++;
            <tr>
                <td>
                    @count
                </td>
                <td>
                    @pc.Name

                </td>

                <td>
                    <a href="/admin/quan-ly-product-category/chinh-sua/@pc.ID/">Chỉnh Sửa </a><a href="/admin/quan-ly-product-category/xoa/@pc.ID/">Xoá</a>

                </td>
            </tr>

        }
    </table>
    <ul class="pagination">

        @for (int i = 1; i <= @ViewBag.totalPage; i++)
        {
            if (i == ViewBag.page)
            {
                <li class="active"><a href="@Url.Action("Index", "ProductCategory", new {Page=i})">@i</a></li>
            }
            else
            {
                <li><a href="@Url.Action("Index", "ProductCategory", new { Page = i })">@i</a></li>

            }

        }

    </ul>
</body>
</html>
