
@{
    Layout = null;
    var productCategoryList = new ShopThoiTrang.Models.DBShop().ProductCategories.ToList();
    var cartCount = Session["cart"] as List<ShopThoiTrang.Models.Cart>;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <!--Thư viện Bootstrap-->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Content/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"><!--Css-->
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/bootstrap.min.js"></script>
    <script src="~/Content/jquery-2.1.1.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="https://apis.google.com/js/platform.js" async defer>
        { lang: 'vi' }
    </script>
    <script src="~/Content/jquery-1.11.1.min.js"></script>


    <title>KShop</title>
</head>
<body>

    <!--Facebook plugin-->
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '198319947243887',
                xfbml: true,
                version: 'v2.8'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <div id="fb-root"></div>
    <script>
(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8&appId=870387233090331";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <!--Btn top-->
    <script>
        jQuery(document).ready(function ($) {
            if ($(".btn-top").length > 0) {
                $(window).scroll(function () {
                    var e = $(window).scrollTop();
                    if (e > 300) {
                        $(".btn-top").show()
                    } else {
                        $(".btn-top").hide()
                    }
                });
                $(".btn-top").click(function () {
                    $('body,html').animate({
                        scrollTop: 0
                    })
                })
            }
        });
    </script>
    <header>
        <!-- Phần phía trên cùng -->
      
        <!-- Phần header để hiện thị thông tin về website(tìm kiếm sản phẩm,thanh toán,quản lí tài khoản) -->
        <div class="main-header">
            <div class="container-fluid">
                <div class="row">
                    <!-- Phần hiển thị logo -->
                    <div class="col-sm-3">
                        <div class="logo">
                            <!-- căn giữa logo -->
                            <img src="~/Content/files/ks.png" class="img-responsive"  alt="logo shop">
                        </div>
                        
                    </div>
                    <div class="col-sm-3">
                        <div class="slider">
                            <div class="col-sm-2 searchBox pull-right">
                                <form method="post" action="@Url.Action("SearchProduct","Home")">
                                    <div class="input-group">
                                        <input type="text" name="content" class="form-control" placeholder="Nhập sản phẩm cần tìm kiếm">
                                        <span class="input-group-btn">
                                            <button type="submit" style="color:white" class="btn btn-primary">Tìm kiếm</button>
                                        </span>
                                    </div>
                                </form>
                               
                            </div>
                        </div>
                    </div>
                    
                    <!-- Phẩn hiển thị giỏ hàng -->
                    <div class="col-sm-3 pull-right">
                        <div class="shopping-cart">
                            <i class="glyphicon glyphicon-shopping-cart"></i> 
                            @if (cartCount != null)
                            {
                                     <a href="/san-pham/gio-hang/"> GIỎ HÀNG (@cartCount.Count())</a>
                             }
                             else
                            {
                              <a href="/san-pham/gio-hang/"> GIỎ HÀNG (0)</a>

                            }
                           
                        </div>

                    </div>
                    
                    <div class="col-sm-1">
                        <div class="google-plus">
                            <div class="g-plusone" data-annotation="inline" data-width="200"></div>
                        </div>

                    </div>

                </div>
                </div>
                <!-- kết thúc .main-header -->
                <!-- Menu Navigation bar sử dụng bootstrap  -->
                <div class="main-nav">
                    <div class="container-fluid">
                        <div class="row">
                            <ul class="nav nav-pills">
                                <li>
                                    <!--class active:làm nổi bật trang chủ  -->
                                    <a href="/">  <i class="glyphicon glyphicon-home"></i></a>
                                </li>
                                <li class=""><a href="#">Sản Phẩm</a></li>
                                <li><a href="#">Giới Thiệu</a></li>
                                <li ><a href="#">Tin Tức</a></li>
                                <li><a href="#">Hướng Dẫn Thanh Toán</a></li>
                                <li><a href="#">Thành Viên</a></li>
                                <li><a href="#">Hỏi Đáp</a></li>
                                <li><a href="#">Liên Hệ</a></li>
                                <li><a href="#">Tuyển Dụng</a></li>

                
                                
                                <!-- Phần searchBox -->
                                <div class="col-sm-2 searchBox pull-right">
                                   <!----> 
                                   
                                </div>
                            </ul>
                        </div>
                    </div>
                    
                </div>
            <div class="text-animate">
               <a> <marquee>NHÂN DỊP KHAI TRƯƠNG,GIẢM 50% KHI MUA CÁC SẢN PHẨM THỜI TRANG.</marquee></a>

            </div>
                <!--kết thúc .main-nav-->
                <!-- Phần quảng cáo -->
                <div class="advertise">
                    <div class="container">
                        <div class="row">
                            <!-- Phần quảng cáo -->
                            <div class="col-sm-12">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Phần Danh Mục Sản Phẩm và Hiển thị danh sách sản phẩm -->
                <div class="header-left-and-righ">
                    <div class="container-fluid">
                        <div class="row">
                            <!-- Phần danh mục sản phẩm -->
                            <div class="col-sm-2">
                                <div class="categories">
                                    <p>Danh Mục Sản Phẩm</p>

                                    <ul>
                                        @foreach(var pc in productCategoryList)
                                        {
                                            var reWriteName = ShopThoiTrang.Models.RewriteURL.GenerateURL(@pc.Name);
                                          <li><a class="glyphicon glyphicon-play-circle"></a>  <a href="/@reWriteName-@pc.ID/">@pc.Name</a></li>
                                        }
                                    </ul>
                                </div>
                                
                                <div class="categories">
                                   <!--- <p>Hổ Trợ Khách Hàng</p> -->

                                    <ul></ul>
                                </div>
                                <div class="categories">
                                    <!--- <p>Thống Kê Truy Cập</p>

                                    <ul>
                                        <li><a class="glyphicon glyphicon-user"></a>  Đang truy cập:<b>16</b></li>
                                        <li><a class="glyphicon glyphicon-time"></a> Hôm nay:<b>200</b></li>
                                        <li><a class="glyphicon glyphicon-time"></a> Tháng hiện tại:<b>20000</b></li>
                                        <li><a class="glyphicon glyphicon-globe" href="#"></a> Tổng:<b>5758490</b></li>

                                    </ul> -->
                                </div>
                                <!-- Phần hiển thị fanpage facebook -->
                                <div class="fanpage">
                                    <div class="fb-like"
                                         data-share="true"
                                         data-width="200"
                                         data-show-faces="true">
                                    </div>
                                    <div class="fb-page"
                                         data-href="https://www.facebook.com/facebook"
                                         data-width="380"
                                         data-hide-cover="false"
                                         data-show-facepile="false"
                                         data-show-posts="false"></div>
                                </div>
                            </div>

                            <!-- Kết thúc cột 1:danh mục sản phẩm -->

                            <!-- Phần hiển thị nội dung các trang con -->
                            <div class="col-sm-8">
                                @RenderBody()

                            </div>
                            <div class="col-sm-2">
                                <!--Phần bên phải-->
                                <div class="banner-right">
                                  
                              <!--     <img src="~/Content/files/bigsale.jpg"  class="img-responsive" alt="No Image" /> -->

                                </div>
                                <div class="topUser">
                                  <!--  <p>Top Người Dùng</p> -->
                                    
                                  
                                </div>                               
                                  
                            </div>
                        </div>
                    </div>
                </div>
    </header>
    <!-- Kết thúc header -->
    <!-- Phần footer -->
    <!--Footer-->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <!--footer-->
    <footer class="footer1">
        <div class="container">
            <div class="row">
                <!-- row -->

                <div class="col-lg-3 col-md-3">
                    <!-- widgets column left -->
                    <ul class="list-unstyled clear-margins">
                        <!-- widgets -->

                        <li class="widget-container widget_nav_menu">
                            <!-- widgets list -->

                            <h1 class="title-widget">Giới Thiệu</h1>

                            <ul>
                                <li><a href="#"><i class="fa fa-angle-double-right"></i> Giới thiệu Kshop.Vn</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right"></i> Đối tác</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right"></i> Văn hoá-Sự kiện</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right"></i> Chính Sách</a></li>




                               
                            </ul>

                        </li>

                    </ul>


                </div><!-- widgets column left end -->



                <div class="col-lg-3 col-md-3">
                    <!-- widgets column left -->

                    <ul class="list-unstyled clear-margins">
                        <!-- widgets -->

                        <li class="widget-container widget_nav_menu">
                            <!-- widgets list -->

                            <h1 class="title-widget">Dịch Vụ</h1>

                            <ul>
                                <li><a href="#"><i class="fa fa-angle-double-right"></i> Đổi trả hàng</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right"></i> Khách hàng vip</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right"></i> Thanh toán</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right"></i> Vận chuyển</a></li>



                            

                            </ul>

                        </li>

                    </ul>


                </div><!-- widgets column left end -->



                <div class="col-lg-3 col-md-3">
                    <!-- widgets column left -->

                    <ul class="list-unstyled clear-margins">
                        <!-- widgets -->

                        <li class="widget-container widget_nav_menu">
                            <!-- widgets list -->

                            <h1 class="title-widget">Chi nhánh</h1>

                            <ul>

                                <li><a href="#"><i class="fa fa-angle-double-right"></i> Quận 1,TP.HCM</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right"></i> Quận 3,TP.HCM</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right"></i> Quận Bình Thạnh,TP.HCM</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right"></i> Quận Phú Nhuận,TP.HCM</a></li>
                              
                            </ul>

                        </li>

                    </ul>


                </div><!-- widgets column left end -->


                <div class="col-lg-3 col-md-3">
                    <!-- widgets column center -->



                    <ul class="list-unstyled clear-margins">
                        <!-- widgets -->

                        <li class="widget-container widget_recent_news">
                            <!-- widgets list -->

                            <h1 class="title-widget">Thông Tin Liên Hệ </h1>

                            <div class="footerp">

                                <h2 class="title-median">Toà nhà Ata,Quận 1,TP.HCM</h2>
                                <p><b>Email :</b> <a href="mailto:info@webenlance.com">kshop@gmail.com</a></p>
                                <p>
                                    <b>Điện thoại </b>
                                    <b style="color:#ffc106;">(8h sáng-10h tối):</b> 
                                     0976671809,01695821150
                                </p>

                                
                            </div>

                            <div class="social-icons">

                                <ul class="nomargin">

                                    <a href="https://www.facebook.com/bootsnipp"><i class="fa fa-facebook-square fa-3x social-fb" id="social"></i></a>
                                    <a href="https://twitter.com/bootsnipp"><i class="fa fa-twitter-square fa-3x social-tw" id="social"></i></a>
                                    <a href="https://plus.google.com/+Bootsnipp-page"><i class="fa fa-google-plus-square fa-3x social-gp" id="social"></i></a>
                                    <a href="mailto:bootsnipp@gmail.com"><i class="fa fa-envelope-square fa-3x social-em" id="social"></i></a>

                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!--header-->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="copyright">
                        © 2016 Kshop.vn

                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="design">
                        <a href="#">Tiếng Anh </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {

            //Check to see if the window is top if not then display button
            $(window).scroll(function () {
                if ($(this).scrollTop() > 100) {
                    $('.btn-top').fadeIn();
                } else {
                    $('.btn-top').fadeOut();
                }
            });

            //Click event to scroll to top
            $('.btn-top').click(function () {
                $('html, body').animate({ scrollTop: 0 }, 800);
                return false;
            });

        });
    </script>
    <div class="footer">  <a id="btn-top" class="fa fa-arrow-circle-up btn-top" href="#" title="Top" style="display: inline;"></a> </div>
    <script src="~/Content/main.js"></script>
    <script src="~/Content/jquery-1.11.1.min.js"></script>
    <script src="~/Content/bootstrap.min.js"></script>
</body>
</html>
