@model ShopThoiTrang.Models.Product

@{
    Layout = "~/Views/Shared/LayoutParentLogin.cshtml";
    var productCategory = ViewBag.productCategory;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tạo mới product</title>
</head>
<body>
    <h1 style="text-align:center">Thêm mới sản phẩm</h1>
    <div class="input">
        @if (ViewBag.checkPName == false || ViewBag.checkPPrice == false || ViewBag.checkPImage == false || ViewBag.checkDecreasePrice==false)
        {
            <form class="form-horizontal" method="post" action="@Url.Action("SaveCreateProduct", "Product")">
            <div class="form-group">
                <label for="nameProduct" class="col-sm-2 col-sm-offset-2 control-label" >Tên sản phẩm(*)</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" value="@ViewBag.productName" name="productName" placeholder="Tên sản phẩm">
                    @if(ViewBag.checkPName==false)
                    {
                      <div class="alert alert-danger">
                        <strong>Vui lòng nhập tên sản phẩm.</strong>
                    </div>
                    }
                   
                </div>

            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 col-sm-offset-2 control-label">Giá(*)</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" value="@ViewBag.productPrice" name="productPrice" placeholder="Giá sản phẩm">
                    @if(ViewBag.checkPPrice==false)
                    {
                      <div class="alert alert-danger">
                        <strong>Vui lòng nhập giá.</strong>
                    </div>
                    }
                   
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 col-sm-offset-2 control-label">Mô tả chi tiết</label>
                <div class="col-sm-5">
                    <textarea class="ckeditor"  name="productDescription" rows="3">@ViewBag.productDescription</textarea>


                    <script type="text/javascript">
                        CKEDITOR.replace('productDescription', {
                            htmlEncodeOutput: true
                        });
                    </script>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 col-sm-offset-2 control-label">Ảnh đại diện(*)</label>
                <div class="col-sm-5">
                    <input type="text" id="Image" value="@ViewBag.productImage" name="productImage" />
                    <input type="button" id="chooseImage" value="Chọn ảnh" class="btn btn-default" />
                    <div class="img">
                        <img id="img" src="" alt="Chưa có ảnh" width="50" heigh="50" />
                    </div>
                    @if(ViewBag.checkPImage==false)
                    {
                    <div class="alert alert-danger">
                        <strong>Vui lòng chọn ảnh đại diện.</strong>
                    </div>    
                    }
                    
                </div>
                <script>
                    //Hàm Duyệt ảnh của ckfinder
                    $("#chooseImage").click(function () {
                        var finder = new CKFinder();
                        finder.selectActionFunction = function (fileUrl) {
                            fileUrl = fileUrl.substring(fileUrl.lastIndexOf("/") + 1);
                            var newsrcFolder = '@Url.Content("~/Content/files/")';
                            var newsrc = newsrcFolder + fileUrl;
                            $("#img").attr("src", newsrc);
                            $("#Image").val('~/Content/files/' + fileUrl);
                        };

                        finder.popup();
                    });
                </script>

            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 col-sm-offset-2 control-label">Danh mục(*)</label>
                <div class="col-sm-5">
                    <select class="form-control" name="productCategory">
                        @foreach(var pc in productCategory){
                            if (pc.ID == ViewBag.productCategory1)
                            {
                                 <option selected value="@pc.ID">@pc.Name</option>
                            }
                            else
                            {
                              <option  value="@pc.ID">@pc.Name</option>
                            }
                        }
                      
                       

                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 col-sm-offset-2 control-label">Giảm giá</label>
                <div class="col-sm-5">
                   
                    @if (ViewBag.optIsDescreasePrice == "Có")
                    {
                        <label class="radio-inline"><input type="radio" checked value="Có" name="optIsDescreasePrice"> Có</label>
                        <label class="radio-inline"><input type="radio" value="Không" name="optIsDescreasePrice"> Không</label>
                        <label class="radio-inline">Giá giảm <input type="text" value="@ViewBag.descreasePrice" name="descreasePrice"></label>
                    }
                    else
                    {
                        <label class="radio-inline"><input type="radio" value="Có" name="optIsDescreasePrice"> Có</label>
                        <label class="radio-inline"><input type="radio" checked value="Không" name="optIsDescreasePrice"> Không</label>
                        <label class="radio-inline">Giá giảm <input type="text" name="descreasePrice"></label>
                    }
                    @if (ViewBag.checkDecreasePrice == false)
                    { 
                        <div class="alert alert-danger">
                        <strong>Vui lòng nhập giá giảm.</strong>
                    </div>
                    }
                   
                    
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 col-sm-offset-2 control-label">Sản phẩm mới</label>
                <div class="col-sm-5">
                    @if (ViewBag.optIsTopNew == "Có")
                    {

                    }
                    else
                    {
                        <label class="radio-inline"><input type="radio" value="Có" name="optIsTopNew"> Có</label>
                        <label class="radio-inline"><input type="radio" checked value="Không" name="optIsTopNew"> Không</label>
                    }

                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-10">
                    <button type="submit" class="btn btn-info">Thêm</button>
                </div>
            </div>
        </form>
        }
        else
        {
          <form class="form-horizontal" method="post" action="@Url.Action("SaveCreateProduct", "Product")">
            <div class="form-group">
                <label for="nameProduct" class="col-sm-2 col-sm-offset-2 control-label" >Tên sản phẩm(*)</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="productName" placeholder="Tên sản phẩm">     
                </div>

            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 col-sm-offset-2 control-label">Giá(*)</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="productPrice" placeholder="Giá sản phẩm">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 col-sm-offset-2 control-label">Mô tả chi tiết</label>
                <div class="col-sm-5">
                    <textarea class="ckeditor" name="productDescription" rows="3"></textarea>


                    <script type="text/javascript">
                        CKEDITOR.replace('productDescription', {
                            htmlEncodeOutput: true
                        });
                    </script>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 col-sm-offset-2 control-label">Ảnh đại diện(*)</label>
                <div class="col-sm-5">
                    <input type="text" id="Image" name="productImage" />
                    <input type="button" id="chooseImage" value="Chọn ảnh" class="btn btn-default" />     
                    <div class="img">
                        <img id="img" src=""alt="Chưa có ảnh" width="50" heigh="50" />
                    </div>
                </div>
                <script>
                    //Hàm Duyệt ảnh của ckfinder
                    $("#chooseImage").click(function () {
                        var finder = new CKFinder();
                        finder.selectActionFunction = function (fileUrl) {
                            fileUrl = fileUrl.substring(fileUrl.lastIndexOf("/") + 1);
                            var newsrcFolder = '@Url.Content("~/Content/files/")';
                            var newsrc = newsrcFolder + fileUrl;
                            $("#img").attr("src", newsrc);
                            
                            $("#Image").val('~/Content/files/' + fileUrl);
                        };

                        finder.popup();
                    });
                </script>

            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 col-sm-offset-2 control-label">Danh mục(*)</label>
                <div class="col-sm-5">
                    <select class="form-control" name="productCategory">
                        @foreach(var pc in productCategory){
                              <option value="@pc.ID">@pc.Name</option>
                        }
                      
                       

                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 col-sm-offset-2 control-label">Giảm giá</label>
                <div class="col-sm-5">
                    <label class="radio-inline"><input type="radio" value="Có" name="optIsDescreasePrice"> Có</label>
                    <label class="radio-inline"><input type="radio" checked value="Không" name="optIsDescreasePrice"> Không</label>
                    <label class="radio-inline">Giá giảm <input  type="text" name="descreasePrice"></label>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 col-sm-offset-2 control-label">Sản phẩm mới</label>
                <div class="col-sm-5">
                    <label class="radio-inline"><input type="radio" value="Có" name="optIsTopNew"> Có</label>
                    <label class="radio-inline"><input type="radio" checked value="Không" name="optIsTopNew"> Không</label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-10">
                    <button type="submit" class="btn btn-info">Thêm</button>
                </div>
            </div>
        </form>
        }
        
    </div>
    <div>
        <a href="/admin/quan-ly-product/">Quay lại</a>
    </div>
</body>
</html>
